body{
    background-color: #EAEAEA;
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    display: flex;
}
/* userProfile.css */

#container {
    /* Styles for the container div */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    padding: 15px;
    gap: 10px;
    width: 1280px;
    height: 604px;
    position: relative;
}

#form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    Width: 650px;
    margin-top: 40px;
    Height: 530px;
}
#profile-picture-container {
    /* Styles for the profile picture container div */
    display: flex;
    height: 128px;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
#profile-picture-options-container{
    display: flex;
    flex-direction: column;
}

.material-symbols-outlined {
    transform: scale(150%);
    color: #254682;
    padding-top: 5px;

}

#edit-container{

}
#delete-container{

}
a{
    text-decoration: none;
    align-self: center;
    color: #254682;
}
a:hover{
    color: white;
}
.setting{
    display: flex;
    text-decoration: none;
    width: 205px;
    height: 43px;
    padding: 5px;
    padding-left: 15px;
    padding-top: 15px;
    gap: 20px;
    border-radius: 8px;

}
.setting:hover{
    background-color: #687883;

}
#profile-picture {
    /* Styles for the profile picture div */
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: green;
}
h2 {
    font-weight: 400;
    font-size: 24px;
    margin-top: 0;
}
#input-container{
    display: flex;
    flex-direction: column;
    width: 315px;
    gap: 20px;
    padding: 10px;

}
#label-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}
/* Additional styles can be added as needed */
.box{
    border-radius: 8px;
    background-color: #EAEAEA;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: fit-content;
    font-weight: 300;
    font-size: 24px;
}
#information-input-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px
}
.box-2{
    border-radius: 8px;
    background-color: #EAEAEA;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 300;
    font-size: 24px;
    width: 320px;
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.hugger{
    height: 100px;
    padding-top: 0px;
}
#btn{
    cursor: pointer;
    background-color: #0866FF;
    color: white;
    padding: 10px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 20px;
    border: none;
}
